@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');

/*font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}
*{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    
}

    

.Header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.logo{
    padding: 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        rgba(16, 211, 195, 0.863) 0%,
        rgba(0,50,100,50) 100%
    );
    border-radius: 10px;

}

.logo:hover{
    color:rgba(1, 1, 1, 0.4);
}

.navegacion ul{
    list-style: none;
    font-size: 30px;
}

.Header .navegacion ul li{
    float: left;
    position: relative;
}

.Header .navegacion ul li a{
    font-size: 23px;
    color: wheat;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .1s ease;
}

.Header .navegacion ul li a:hover {
    background-color:gray;
}

.Header .navegacion ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color:black;
    display: none;

}

.Header .navegacion ul li ul a {
    padding: 15px;
    color: white;
}

.Header .navegacion ul li ul li{
    width: 100%;
}

.Header .navegacion ul li:hover > ul {
    display: initial;
}

#toggle,
.Header label{
    display: none;
    cursor: pointer;
}

.menu{
    width: 45px;
    height: 35px;
}

/*SECTION*/

.section {
     border: 1px solid;
}

.section-content{
    display: flex;
    width: 600px;
    height: 200px;
}

.section-content img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
}

.section-content img:hover{
    width: 50px;
    opacity: 1;
    filter: contrast(120%);
}




















/*RESPONSI*/

@media (max-width:950px) {
    
    .Header label {
        display: initial;
    }

    .Header {
        padding: 20px 10%;
    }

    .Header .navegacion {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color:rgba(1, 1, 1, 0.8);
        display: none;
    }

    .Header .navegacion ul li a {

        color: white;
    }

    .Header .navegacion ul li {
        width: 100%;
        
    }

    .Header .navegacion ul li a {
        padding: 8px 30px  8px 10%;
    }

    .Header .navegacion ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .Header .navegacion ul li ul li {
        background-color:rgba(1, 1, 1, 0.7);
    }

    .Header .navegacion ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }


    #toggle:checked ~ .navegacion {
        display: block;
    }

}